include ./mixins.pug

.post-container.flexflow-top-down
  .post-content
    +post-header('pet pug project' , '#pet-pug-project')
    +hello_post-meta
    //- +caption_img("https://raw.githubusercontent.com/louiscklaw/tradingview-tile-tryout/master/src/img/sc.png","tradingview dashboard screenshot")

    h3.title.is-4 current working on this project

    h3.title.is-4 References
    ul
      li https://github.com/jenil/bulmaswatch

    +back_to_project_home

  //- .footer
  //- p test footer
