script(src="https://browser.sentry-cdn.com/5.7.0/bundle.min.js" integrity="sha384-pHnCJ3bbzJ+LzI19wAdyBvGAjJ5vNAC59uxeRpw5WpgkSlZUQstEADxkSbBnI95q" crossorigin="anonymous")

script.
    Sentry.init({ dsn: 'https://12fa46a49c1744e194cc9b887c3f5d1b@sentry.io/1779094' });
